body {
	background-image:url(images/background.gif);
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	margin-left:5px;
	margin-right:5px;
	padding: 0px;
        color: #CCCCCC;
}
body p
{
    color: #000000;
}
body a
{
    color: #FFFFFF;
}

.clear{clear:both;}
#container {
	margin: 0px auto;
	text-align: left;
	width: 780px;
}
a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
h1,h2,h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #171508;
}
h2
{
    text-decoration: underline;
}
ul
{
	margin-left:10px;
}
.NotImplemented
{
	text-shadow:#000000;
	color:#CC0000;
	font-weight:bold;
}
.NotFullyImplemented
{
	text-shadow:#000000;
	color:#CCCC00;
	font-weight:bold;
}
.Implemented
{
	text-shadow:#000000;
	color:#00CC00;
	font-weight:bold;
}